.main_footer {
    display: flex;
    background-color: #E4B4C2;
    height: 75px;
    justify-content: space-between;
    border: 1px solid #000;
}

.logo_white {
    height: 75px;
    width: 91px;
    margin-top: 0;
    margin-left: 88px;
}

.menu_footer {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 28px;
}

.social_media_menu {
    margin-right: 12px;
}

.social_media {
    height: 29px;
    width: 29px;
    margin-right: 21px;
}