.wrapper {
    display: flex;
    width: 260px;
    align-items: center;
    margin-right: 38px;
}

.search_box{
    background: #FEFDFE;
    position: relative;
    border-radius: 50px;
    display: flex;
    border: 0;
    width: 260px;
}

.fa-solid {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
    color: #B7B7B7;
    height: 18px;
    width: 18px;
    
}

.search-text {
    border: 0px;
    font-size: 17px;
    font-family: "Roboto";
    font-weight: 400;
    color: #B7B7B7;
    width: 200px;
    height: 17px;
    align-self: center;
}